<div class="row">
    <div class="col col-50">
        <div class="progress">
            <div class="progress-bar progress-bar-danger progress-bar-striped"
                 role="progressbar"
                 aria-valuenow="{{data.karma.bad}}"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 style="width: {{data.karma.bad}}%; display: block; float: right;">
                <span class="sr-only">{{data.karma.bad}}%</span>
            </div>
        </div>
    </div>
    <div class="col col-50">
        <div class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped"
                 role="progressbar"
                 aria-valuenow="{{data.karma.good}}"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 style="width: {{data.karma.good}}%">
                <span class="sr-only">{{data.karma.good}}%</span>
            </div>
        </div>
    </div>
</div>
