<ion-view title="Add good stuff">
    <ion-content has-header="true" padding="true">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="work" ng-model="newDeed.good.name" required="required" autofocus="autofocus">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Multiplier</span>
                <input type="number" placeholder="1" ng-model="newDeed.good.multiplier" required="required">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="add()">
            Add deed
        </button>
    </ion-content>
</ion-view>
