<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


    <!-- Dashboard Tab -->
    <ion-tab title="Karma" icon="icon ion-ios7-circle-filled" href="#/tab/karma">
        <ion-nav-view name="tab-karma"></ion-nav-view>
    </ion-tab>


    <!-- Friends Tab -->
    <ion-tab title="Do Good" icon="icon ion-ios7-plus" href="#/tab/good">
        <ion-nav-view name="tab-good"></ion-nav-view>
    </ion-tab>


    <!-- Account Tab -->
    <ion-tab title="Do Bad" icon="icon ion-ios7-minus" href="#/tab/bad">
        <ion-nav-view name="tab-bad"></ion-nav-view>
    </ion-tab>

</ion-tabs>
